@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Prevent text resizing unexpectedly in landscape mode on iOS with */
    -webkit-text-size-adjust: 100%;
    /* Fonts should have -webkit-font-smoothing: antialiased applied for better legibility */
    -webkit-font-smoothing: antialiased;
    /* Fonts should have text-rendering: optimizeLegibility applied for better legibility */
    text-rendering: optimizeLegibility;
    /* Enable smooth scroll on web page*/
    scroll-behavior: smooth;
  }

  body {
    @apply text-base text-slate-800;
  }
}
